
* {
	font-family: 'Open Sans', sans-serif;
	color: #2A2A2A;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

input, button, a, li {
	border-radius: 0 !important;
}

body {
	background-color: #FAFAFC;
}

/*presets*/

.shipping-text {
	position: relative;
	width: 100%;
	height: 36px
}

.shipping-text:after {
	position: absolute;
	text-align: center;
	content: "#FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING #FREE SHIPPING";
	background-color: #C6BDAE;
	top: 0;
	left: 0;
	font-size: 18px;
	line-height: 36px;
	color: rgba(250, 250, 252, 0.5);
	z-index: -1;
	font-family: 'Permanent Marker', cursive;
	word-break: break-all;
	padding: 0px 5px;
}

.login-bg {
	position: relative;
	background: url("../images/essentials/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.fp-bg {
	position: relative;
	background: url("../images/essentials/forgot_password.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.register-bg {
	position: relative;
	background: url("../images/essentials/register.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.confirmation-bg {
	position: relative;
	background: url("../images/essentials/confirmation.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-bg:before, .fp-bg:before, .register-bg:before, .confirmation-bg:before {
	content: "";
	position: absolute;
	background-color: rgba(255, 103, 59, 0.1);
	top: 0;
	bottom: 0;
	width: 100%;
}

.welcome-container {
	background: url("../images/essentials/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.welcome-bg {
	min-height: 40vh;
	background: url("../images/essentials/welcome.png");
	background-size: 65vw auto;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.founder-pic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.nav-custom {
	background-color: #FAFAFC;
}

.border-none {
	border: 0;
}

.option-selected {
	background-color: #C6BDAE;
	color: white;
}

.option-selected > li {
	background-color: #C6BDAE;
	color: white;
}

.btn-transparent {
	background-color: transparent;
}

.btn-orange {
	color: white;
	background-color: #FF673B;
	border: 0;
}

.btn-orange:hover {
	color: white;
	background-color: #e5552d;
}

.bg-orange {
	background-color: #FF673B;
}

.text-orange {
	color: #FF673B;
}

.bg-dirty-white {
	background-color: #FAFAFC;
}

.text-dirty-white {
	color: #FAFAFC;
}

.bg-brown {
	background-color: #C6BDAE;
}

.logo-font {
	font-family: 'Permanent Marker', cursive;
}

/*end presets*/


/*bootstrap class edits */

.dropdown > .dropdown-menu > .dropdown-item:active {
	color: #FAFAFC;
	background-color: #FF673B;
}

.nav-brand {
	color: #FF673B;
	font-family: 'Permanent Marker', cursive;
}

.nav-item {
	margin-right: 20px;
}

.card-img-top {
	min-height: 200px;
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}

.pagination > li.page-item > a.page-link {
	color: #2A2A2A;
}

.pagination > li.active > a.page-link {
	border-color: #C6BDAE;
	background: #C6BDAE;
	color: #fff;
}

.list-group > .list-group-item {
	color: #FF673B;
	border-color: transparent;
}

.list-group > .active {
	color: white;
	background-color: #FF673B;
	border-color: #FF673B;
}

.dropdown-menu {
	background-color: #FAFAFC;
	border: none;
}

/* end bootstrap class edits */


/* nav and footer */
body { 
	min-height: 100vh;
	position: relative;
}

#footer {
	position: absolute;
	bottom: 0;
	transform: translate(0, 100%);
	min-height: 60px;
	background-color: #FF673B;

}

/* end nav and footer */

/* MD */
@media (min-width: 768px) {

	.welcome-bg {
		min-height: 40vh;
		background: url("../images/essentials/welcome.png");
		background-size: 55vw auto;
		background-position: right bottom;
		background-repeat: no-repeat;
	}

}


/* LG */
@media (min-width: 992px) {

	.welcome-bg {
		min-height: 40vh;
		background: url("../images/essentials/welcome.png");
		background-size: 45vw auto;
		background-position: right bottom;
		background-repeat: no-repeat;
	}

}